*{
    padding: 0;
    margin: 0;
}

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    
}
#Encabezado{
    margin-top: 1em;

    height: 15%;
    background-color: green;
    text-align: center;

   
}
.imagen{
    padding: 1em;
    padding-right: 2em;
    display: inline;
    border: 1px solid rgb(68, 152, 68);
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
    
}

#barraNavegacion{
    background-color: white;
    height: 5%;
}

#seccion{
    margin: 1em;
    height: 70%;
    background-color: rgb(255, 0, 0);

}
#pieNavegacion{
    height: 10%;
    background-color: gray;
}
.texto{
    text-align: justify;
    font-family: Arial;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
}
.encabezado2{
    text-align: center;
    font: Arial;
    font-size: 3em;
    color: white;
}
ul{
    display: inline;
    text-align: center;
}
li{
    margin: 2em;
    display: inline;
    padding-left: 2em ;
    padding-right: 2em;
}
